@import 'bootstrap/scss/bootstrap';

p {
    margin-bottom: .5rem;
}

.header {
    font-size: 1.5rem;
    @extend .text-center;
}

h3 {
    margin-top: 1rem;
    @extend .text-info;
}

.work-title {
    @extend .text-success;
}

.time-range {
    @extend .text-muted;
}

body {
    background: #d3d3d3;
}

.container {
    background:#ffffff;
    padding: 25px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
        padding: 50px;
    }
}
